<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="scan">
        <param name="port" value="/dev/robot/laser"/>
        <param name="max_ang_degrees" value="90"/>
        <param name="min_ang_degrees" value="-90"/>
        <param name="frame_id" value="base_scan"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="hokuyo_static_tf_publisher"
        args="0.14 0 0.06 0 0 0 1 base_link base_scan 50"/>

    <param name="irobot_create_rustic/serial_port" value="/dev/robot/roomba"/>
    <node pkg="irobot_create_rustic" type="driver" output="screen" name="base_link">
        <param name="freq" value="10"/>
    </node>
    
    <!--
    <node pkg="usb_cam" name="usb_cam" type="usb_cam_node">
        <param name = "video_device" value="/dev/robot/camera"/>
    </node>
    !-->
    
</launch>
