<launch>
    <node pkg="gmapping" type="slam_gmapping" name="map_builder">
        <param name="xmin" value="-10.0"/>
        <param name="ymin" value="-10.0"/>
        <param name="xmax" value="10.0"/>
        <param name="ymax" value="10.0"/>
        <param name="delta" value="0.025"/>
        <param name="temporalUpdate" value="2.0"/>
    </node>
</launch>
