<launch>
    <param name="image_transport" value="compressed"/>
    
    <node pkg="usb_cam" name="usb_cam" type="usb_cam_node">
        <param name = "video_device" value="/dev/robot/camera"/>
    </node>
    
    <node pkg="topic_tools" name="usb_cam_republisher" type="drop" args="/usb_cam/image_raw 1 8 /image_resampled"/>
    
    <node pkg="topic_tools" type="drop" name="republisher" args="/usb_cam/image_raw/compressed 1 20 /usb_cam2/image_raw/compressed"/>
    
    <node pkg="topic_tools" type="drop" name="republisher2" args="/usb_cam/camera_info 1 20 /usb_cam2/camera_info"/>

</launch>
