<launch>
    <node pkg="gmapping" type="slam_gmapping" name="map_builder">
        <param name="xmin" value="-30.0"/>
        <param name="ymin" value="-5.0"/>
        <param name="xmax" value="30.0"/>
        <param name="ymax" value="50.0"/>
        <param name="delta" value="0.05"/>
        <param name="linearUpdate" value="0.5"/>
        <param name="iterations" value="20"/>
    </node>
</launch>
