<launch>
    <node pkg="hokuyo_node" type="hokuyo_node" name="scan">
        <param name="port" value="/dev/robot/laser"/>
        <param name="max_ang_degrees" value="90"/>
        <param name="min_ang_degrees" value="-90"/>
        <param name="frame_id" value="base_scan"/>
    </node>
    
    <!--Here are all of the static transforms to describe where things are in relation to the center of the IRobot Create!-->
    <node pkg="tf" type="static_transform_publisher" name="hokuyo_static_tf_publisher"
        args="0.14 0 0 0 0 0 1 base_link base_scan 200"/>
        
    <node pkg="tf" type="static_transform_publisher" name="rightRFID_static_tf_publisher" args="0.0371 -0.0902 0 0 0 -0.3827 0.9239 base_link EleRightEar 200"/>
    
    <node pkg="tf" type="static_transform_publisher" name="leftRFID_static_tf_publisher" args="0.0371 0.0902 0 0 0 0.3827 0.9239 base_link EleLeftEar 200"/>

    <param name="/brown/irobot_create_2_1/port" value="/dev/robot/roomba"/>
    <node pkg="irobot_create_2_1" type="driver.py" name="base_link" output="screen"/>
    
    <node pkg="createbot" name="rfidReaderNode" type="my_rfid.py" output="screen" respawn="true"/>
    <node pkg="createbot" name="setRFIDQuery" type="setRFIDQuery" output="screen" respawn="false"/>
</launch>
